# Spring Settings
spring:
  application:
    name: demo

  # Database
  datasource:
    url: jdbc:h2:mem:pricedb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver

  # Jpa
  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  # Sql
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: classpath:db/data.sql

  # H2
  h2:
    console:
      enabled: true

# OpenApi
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
  api-docs:
    path: /api-docs
